// Behold, a quick reference for my SCSS
$utilitynav-bgcolor: #21293F; //Dark Blue
$utilitynav-fontcolor: #7e96ba; //Light Blue
$topnav-bgcolor: #273C59; //Washed Blue
$tan-div: #EAE3D4; //Tan
$contact-div: #292840; //Slightly Lighter blue than the top nav color
$contactform: #6E7C90; //Lightest Blue, used for the form box. 
$fontcolor: #333333; //Slighty lighter than black
$alt-fontcolor: #FFFFFF; //Alternate to the regular font color

$gradient-left: #EAD18C;
$gradient-right: #FFFFFF;

$darkpurple: #552448; //Just in case sivel wants to change things up
$lightpurple: #683C5C; //Read Above



/* Overall Styles */
body{
    background-color: $utilitynav-bgcolor;
    overflow-x: hidden;
}

 h1, h2, h3, h4, h5, h6{
    font-family: 'Sharik Sans', serif;
}

p, a, ul li{
    font-family: 'Promixa Nova', sans-serif;
}

.link-black{
    color: $fontcolor;
}

.link-white{
    color: $alt-fontcolor;
    font-weight: 600;
    border: 2px $alt-fontcolor solid;
    padding: 2%;
}

.link-white:hover{
    color: $utilitynav-bgcolor;
    background-color: $alt-fontcolor;
    font-weight: 600;
    border: 2px $alt-fontcolor solid;
    padding: 2%;
}

.link-blue{
    color: $utilitynav-fontcolor;
}

label{
    font-family: 'Promixa Nova', sans-serif;
}

.photo-cap{
    color: $utilitynav-fontcolor;
    font-size: 14px;
    font-weight: 600;

}

.photo-cap-i{ 
    color: $utilitynav-fontcolor;
    font-size: 14px;
    font-style: italic;
}



/* Global Navigation */
.utility-nav-wrapper{
   max-width: 100%;
   width: 100%;
    
   .sub-nav{
       padding-right: 2%;
   }

}
.utility-nav{
    color: $utilitynav-fontcolor;
    text-align: right;
}
.utility-nav ul li a:hover{
    color: white;
}


/* Photo Gallery */
.full-Width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}



/* Introduction */
.wrapper-intro{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 2% 0;    
   max-width: initial;
   background-color: $tan-div;
   color: $fontcolor;
}


/*Gold to White Gradient*/
.gradient{
    background-image: -webkit-gradient(
            linear,
            right bottom,
            left bottom,
            color-stop(0, #FFFFFF),
            color-stop(1, #EAD18C)
        );
    background-image: -o-linear-gradient(left, #FFFFFF 0%, #EAD18C 100%);
    background-image: -moz-linear-gradient(left, #FFFFFF 0%, #EAD18C 100%);
    background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #EAD18C 100%);
    background-image: -ms-linear-gradient(left, #FFFFFF 0%, #EAD18C 100%);
    background-image: linear-gradient(to left, #FFFFFF 0%, #EAD18C 100%);
    width: 100%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}



/* Recent Listing Block */
.wrapper-listing{
    background-color: $topnav-bgcolor;
    padding-top: 2%;
    padding-bottom: 5%;
        
    h2{
        color: $alt-fontcolor;
    }
    
    .columns{
        padding-left: 0;
        padding-right: 0;
    }
}

.listing-card{
    margin-top: 3%;
    background-color: $tan-div;

}

.listing{
    background-color: $tan-div;
    
    p { 
        margin: 0 2%;
        padding: 2% 2% 0 2%;
    }
}

.listing-description{
    background-color: $utilitynav-bgcolor;
    color: $alt-fontcolor;
    padding: 0;
    margin: 0;
}

.listing-points{
    p{
        margin: 0 15% 0 5%;
        padding: 10px 0;
    }
}

.wrap-listing-link{
    background-color: darken($utilitynav-bgcolor, 5%);
}

.wrap-listing-link:hover{
    background-color: darken($utilitynav-bgcolor, 10%);
}

/*Responsive Card */
@media only screen and (max-width: 40em) { 
    .listing-card{
        margin: 0 2%;
        width: 96%;
    }
    .listing-points{
        padding-left: 2%;
    }
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .listing-card{
        margin: 0 2%;
        width: 96%;
    }

}


.home-title{
    font-size: 24px;
    color: $topnav-bgcolor;
    padding-top: 1%;
    border-bottom: 2px solid $topnav-bgcolor;

}




/* Search Homes for Sale & Explore */
.wrapper-explore{
    background-color: $utilitynav-bgcolor;
    color: $alt-fontcolor;
    padding-top: 2%;
    
    h3{
        color: $alt-fontcolor;
    }
}

.homes-link{
    li a{
        color: $alt-fontcolor;
    }
    
    li a:hover{
        border-bottom: 2px solid $alt-fontcolor;
    }
 
}

.explore-link{
    color: $alt-fontcolor;
    border-bottom: 2px solid $alt-fontcolor;
}

.explore-link:hover{
    color: $alt-fontcolor;
    border-bottom: 2px solid $alt-fontcolor;
}
    



/* Download the App */
.wrapper-download{
    background-color: $tan-div;
    padding-top: 2%;
    
    img{
        z-index: 9999;
        height: 80%;
        width: 80%;
    }
    
}

.break{
    margin-top: -5%;
    margin-bottom: -30%;
}

.btn{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #333333;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #333333 2px;
  text-decoration: none;
}

.btn:hover {
  background: #333333;
  color: $tan-div;
  text-decoration: none;
}

.btn-wrap{
    margin-top: 3%;
    margin-bottom: 5%;
}



/* Home Worth */
.wrapper-worth{
    background-color: $topnav-bgcolor;
    padding-top: 5%;
    padding-bottom: 5%;
    
    p, h2, h3, h4, label{
        color: $alt-fontcolor;
    }
}

.worth-img{
    border: 3px solid #FFFFFF;
}

.btn-worth{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: $alt-fontcolor;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid $alt-fontcolor 2px;
  text-decoration: none;
}

.btn-worth:hover {
  background: $alt-fontcolor;
  color: $topnav-bgcolor;
  text-decoration: none;
}

/* Contact Form Styles */
.invisible{
    display: none;
}



/* Footer */
.wrapper-footer{
    background-color: $tan-div;
    padding-top: 2%;
    color: $fontcolor;
    
    p, ul li {
     font-size: 14px;
    }

}

.sivel-dark{
    height: 40%;
    width: 40%;
}

.footer-list li a i{
    color: $fontcolor;
}


/* Sub Footer */
.wrapper-subfooter{
    background-color: darken( $tan-div, 10% );
    color: darken( $tan-div, 45% );
    height: 5%;
}






/* --------------------------------------- About Page --------------------------------------- */
.wrapper-location{
    background-color: $darkpurple;
    color: $alt-fontcolor;
    padding: 5% 0;
    
    ul{
        line-height: 200%;
    }
    
    ul li a:hover{
        color: $alt-fontcolor(darken, 10%);
    }
    
    ul li a{
        color: $alt-fontcolor;
    }
    
    h3{
        color: $alt-fontcolor;
    }
    
    img{
        border: 3px solid #FFFFFF;
    }
        
}

.secret-sauce{
    background-color: $tan-div;
    color: $fontcolor;
    padding: 5% 0;
    
    h3{
        color: $fontcolor;
    }

}




/* --------------------------------------- Remarkable Results Page --------------------------------------- */

.testimonial{
    background-color: $darkpurple;
}
    
.our-clients{
    color: $alt-fontcolor;
    padding-top: 3%;
}





/* --------------------------------------- Single Home Template Page --------------------------------------- */
.home-detail-wrapper{
    padding-top: 25px;
    background-color: #292840; /*$contactdiv*/
}

.home-detail{
    color: white; /*$alt-fontcolor*/
}

.description-wrapper{
    background-color: #d9cdb2;/*Tan Div(darken)*/
}
        
.glance{
    background-color: #EAE3D4;/*Tan Div*/
    color: $darkpurple;
    height: 100%;
    min-height: 100%;
    
    ul li{
        margin: 0 0 5% 0;
    }
    
    h4{
        color: $darkpurple;
    }
        
}

iframe{
    width: 100%;
}
        
.bold{
    font-weight: 600;
}

