@import "navigation-styles";

$white: #ffffff;
$fontdark: #333333;
$darkblue: #282C34;
$orange: #f07e2b;
$alien: #05b616;

body{
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Gotham", Arial, sans-serif;
}

p{
  font-family: "Open Sans", Arial, sans-serif;
}

img{
  width: 100%;
  height: auto;
}

iframe{
  max-width: 100%;
}

.text-muted{
  font-size: 14px;
}

.menu-link{
  position: absolute;
  top: 1px;
  right: 235px;
}

.content p{
  max-width: 600px;
  margin: 0 auto 20px;
  color: $fontdark;
}

.header{
  background-image: url('../img/header.jpg');
  height: 100vh;
  margin-bottom: 5px;
  background-size: cover;
  color: $white;
  /*To center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 500%; /* 350% lines the h1 and h4 tags up perfectly */
    text-shadow: 1px 1px 5px #000;
    margin-bottom: 0;
  }

  h4{
    text-transform: lowercase;
  }

  i{
    position: absolute;
    bottom: 10px;
  }
}

.work{
  margin: 20px 0;
}

footer{
  background-color: #272727;
    background-image: url("../img/concrete-wall.png");
  color: #e4e4e4;
  padding-top: 15px;
  margin-top: 50px;
  .fa {
    background: #1d1c1c;
    background:rgba(0,0,0,0.4);
    padding: 15px;
    -webkit-border-radius:1100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
    color: #e4e4e4;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width:60px;
    height:60px;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
  }
  .fa:hover {
    background:rgba(0,0,0,0.6);
  }

  p{
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Gotham", Arial, sans-serif;
    text-align: center;
  }

  ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 30px 0;
    li{
      text-align: center;
      line-height: 2;
      display: inline;
      padding: 0 10px;
    }
  }

  a{
    color: #e4e4e4;
    &:hover{
      color: #c6c3c3;
      text-decoration: none;
    }
  }
}

.subfooter{
  background-color: #1d1c1c;
  color: #e4e4e4;
  p{
    width: 100%;
    padding: 10px 0;
    text-transform: lowercase;
    font-family: "Gotham", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
  }
  .alien{
    color: $alien;
  }
}


/* --- HOVER EFFECT --- */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #333333;
  img{
    max-width: 100%;
    height: auto;
  }
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  /* font-size: 17px;*/
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.learn-more{
  margin-top: 20px;
  a{
    border: 3px solid white;
    margin-top: 30px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
  &:hover{
    background-color: white;
    color: #333;
  }
  }
}


/* --- Work Info --- */
.work-info{
  margin-top: 5%;
  p{
    padding: 0;
    margin: 0;
    line-height: 1.75;
  }
  .work-title{
    color: $alien;
    font-weight: 700;
    font-size: 0.875em;
    margin: 0;
  }
  .lower{
    margin-top: 5%;
  }
}

hr{
  margin: 45px 0;
  border-top: 1px solid #8c8b8b;
}

.sub-title{
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.description{
  margin-bottom: 45px;
}

.iframe{
  margin-top: 45px;
}

.tweet{
  background-color: white;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
}

.space{
  margin: 500px;
}

/* --- LOGOS PAGE --- */
.logo-box{
  h3{
    text-align: center;
  }
  .background{
    background-color: white;
  }
  img{
    background-color: white;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
  }
}


/* --- SIVEL LUXURY GROUP PAGE --- */
.sivel-break{
  background-color: white;
  margin: 35px 0;
  padding: 20px 0;
}

.sivel-link{
  font-weight: bold;
  font-size: 120%;
  a{
    text-decoration: none;
    color: $alien;
  }
}
/* --- COMMONWEALTH PAGE -- */
.image-space{
  margin-bottom: 25px;
}

/* --- DC PAGE --- */
.dc{
  margin-bottom: 25px;
}

/* --- ABOUT PAGE -- */

.about-wrap {
  display: flex;
}

.about-pic{
  background-image: url('../img/cover.jpg');
  background-size: cover;
  height: 100vh;
  flex: 1;
  padding: 1rem;
  margin-bottom: -50px;
}

.about-content{
  background-color: #00B16A;
  background-image: url("../img/concrete-wall.png");
  background-repeat: repeat;
  color: white;
  height: 100vh;
  flex: 1;
  padding: 1rem;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  h1{
    padding: 0;
    margin: 0;
    font-size: 500%;
    text-transform: uppercase;
    margin-top: 10%;
    color: #068c57;
    font-weight: 900;
    text-shadow: 1px 1px 1px #26e298;
  }
  p{
    margin: 0;
  }
  p:not(.sub-line){
    margin-top: 5%;
  }
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    &:hover{
      color: #e4e4e4;
    }
  }
}


/* --- MEDIA QUERIES --- */
@media (max-width: 991px) {
  .work{
    h2{
      font-size: 110%;
    }
    p{
      font-size: 85%;
    }
    .hovereffect .overlay {
      padding: 10px 20px;
    }
  }
}

@media (max-width: 743px) {
  .header{
    background-image: url('../img/header.jpg');
    height: 100vh;
    margin-bottom: 5px;
    background-size: cover;
    color: $white;
    /*To center the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 500%; /* 350% lines the h1 and h4 tags up perfectly */
      text-shadow: 1px 1px 5px #000;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 542px) {
  .work{
    h2{
      font-size: 90%;
    }
    p:not(.learn-more){
      display: none;
    }
    .work .learn-more {
    margin-top: 20px;
    }
    .learn-more a {
    padding: 5px 10px;
    }
  }
}

@media (max-width: 380px) {
  .header h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 375%;
    text-shadow: 1px 1px 5px #000;
    margin-bottom: 0;
  }
}

@media (max-width: 730px) {
  .about-pic{
    display: none;
  }
  .about-content{
    width: 100vw;
  }
}
