doctype html
html
  include ./includes/head.jade 

  
  body
    include ./includes/navigation.jade
    
    div.about-wrap
      div.about-pic
      div.about-content
        h1 Damian Grosso
        p I recently graduated from Lebanon Valley College with a degree in  Digital Communications and a concentration in User Experience. While I studied both traditional "tried and true" digital methods and emergering media techniques, I still have a focus in UX and front-end web development. 
        p When I'm not working or learning with Treehouse, I am either brewing craft beer, traveling, working out, or just catching up with some shows on Netflix.
        p If you would like to get in contact with me you can either 
          a(href="mailto:damiang777@gmail.com?Subject=Hello%20") email me
          |  or follow me on my various social media channels.


    
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
