doctype html
html
  include ./includes/head.jade 
  
  body
    include ./includes/navigation.jade 
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Commonwealth Wine
      div.row
        div.col-lg-6
          p The first full branding project that I completed during the early days of being a Digital Communications major. The project guidelines were to create wine labels for a winery based in Pennsylvania along with one another design asset. I choose to design a website because that is my focus within graphic design.  
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Class Project, Digital Graphic Design
              
              p.work-title.lower Timeline
              p Sept. 2014 - Oct. 2014
            
            div.col-lg-6
              p.work-title What I Did
              p Brand Identity 
              p Web Design
              p Front-End Development
            
            div.col-lg-6
              p.work-title Live Site 
              p Coming Soon!  
        
      hr        
    div.container
      div.row
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Logo
          img(src='img/wine/commonwealthlogo_small.png') 
      hr
      div.row
        div.col-lg-6
          img(src='img/wine/label1.png') 
        div.col-lg-6
          img(src='img/wine/label2.png')
      hr
      div.row
        div.col-lg-6
          img(src='img/wine/bottle1.png') 
        div.col-lg-6
          img(src='img/wine/bottle2.png')
      hr
      div.row
        div.col-lg-8.col-lg-offset-2.image-space
          img(src='img/wine/homepage.png')
        div.col-lg-8.col-lg-offset-2
          img(src='img/wine/productpage.png')
       
        
          
          
                      
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
