doctype html
html
  include ./includes/head.jade 
  
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Discover & Chill
      div.row
        div.col-lg-6
          p I was the designer and front-end developer for my group’s senior capstone project. Our group consisted of six members and we each had our own special niche that allowed us to complete this project. D&C is an app where users can search curated movies and television shows from various streaming services and shows users where to find their particular search query.  
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Tree Huggers
              
              p.work-title.lower Timeline
              p Sept. 2015 - May 2016
            
            div.col-lg-6
              p.work-title What I Did
              p Front-End Development
              p Web Design
      
      hr       
    div.container
      div.row.dc
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Wireframes
        div.row.logo-box
          div.col-lg-4.col-md-6
            img(src='img/dc/homepage.PNG')
          div.col-lg-4.col-md-6
            img(src='img/dc/discover.PNG')
          div.col-lg-4.col-md-6
            img(src='img/dc/individual_movie.PNG')
      
      hr
      div.row.dc
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center User Interface
        div.row.logo-box
          div.col-lg-4.col-md-6
            img(src='img/dc/home_ui.PNG')
          div.col-lg-4.col-md-6
            img(src='img/dc/profile.PNG')
          div.col-lg-4.col-md-6
            img(src='img/dc/individual_movie_ui.PNG')
      
      hr
      div.row.dc  
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Branding
        div.row.logo-box
          div.col-lg-4.col-md-6
            img(src='img/dc/dcBranding.png')
          div.col-lg-4.col-md-6
            img(src='img/dc/dcBranding2.png')
          div.col-lg-4.col-md-6
            img(src='img/dc/dcBranding3.png')
      
      hr
      div.row
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Promotional Video
        div.col-lg-8.col-lg-offset-3.col-md-12.col-md-offset-1
          iframe(width='560', height='315', src='https://www.youtube.com/embed/C_8UTdjhnzU', frameborder='0', allowfullscreen='')
    
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
