doctype html
html
  head
    meta(charset="utf-8")
    title Damian Grosso | Discover & Chill
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='theme-color', content='#083358')
    // Chrome, Firefox OS, Opera and Vivaldi
    meta(name='theme-color', content='#083358')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#083358')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#083358')


    link(rel='icon', type='image/png', href="img/favicon.ico")

    <!-- Bootstrap CSS -->
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
    link(rel="stylesheet", href="css/styles.css")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/font-awesome-animation.min.css")
    
    script(src='js/responsive-nav.js') 

  
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Discover & Chill
      div.row
        div.col-lg-6
          p I was the designer and front-end developer for my group’s senior capstone project. Our group consisted of six members and we each had our own special niche that allowed us to complete this project. D&C is an app where users can search curated movies and television shows from various streaming services and shows users where to find their particular search query.  
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Tree Huggers
              
              p.work-title.lower Timeline
              p Sept. 2015 - May 2016
            
            div.col-lg-6
              p.work-title What I Did
              p Front-End Development
              p Web Design
      
      hr       
    div.container
      div.row
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Wireframes
        div.row.logo-box
          div.col-lg-4
            img(src='img/dc/homepage.png')
          div.col-lg-4
            img(src='img/dc/discover.png')
          div.col-lg-4
            img(src='img/dc/individual_movie.png')
      
      hr
      div.row
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center User Interface
        div.row.logo-box
          div.col-lg-4
            img(src='img/dc/home_ui.png')
          div.col-lg-4
            img(src='img/dc/profile.png')
          div.col-lg-4
            img(src='img/dc/individual_movie_ui.png')
      
      hr
      div.row  
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Branding
        div.row.logo-box
          div.col-lg-4
            img(src='img/dc/dcbranding.png')
          div.col-lg-4
            img(src='img/dc/dcbranding2.png')
          div.col-lg-4
            img(src='img/dc/dcbranding3.png')
      
      hr
      div.row
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Promotional Video
        div.col-lg-8.col-lg-offset-3 
          iframe(width='560', height='315', src='https://www.youtube.com/embed/C_8UTdjhnzU', frameborder='0', allowfullscreen='')
    
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
