doctype html
html
  include ./includes/head.jade  

  body
    include ./includes/navigation.jade
    div.header     
      h1 Damian Grosso
      h4 UX Designer & Front-End Web Developer
      div.scroll
        i.fa.fa-chevron-circle-down.fa-2x.faa-float.animated
        
    div.container
      div.row
        div.col-lg-12.work
          div.hovereffect
            img.img-responsive(src='img/farm.png', alt='')
            div.overlay
              h2 New Holland Country Store
              p A user interface that I designed for a premier country merchandise company.
              p.learn-more
                a(href='new-holland.html') See More
                
      div.row
        div.col-lg-12.work
          div.hovereffect
            img.img-responsive(src='img/glasses.png', alt='')
            div.overlay
              h2 Clarity Refracive
              p A collection of work that I completed during my last semester at my alma mater in their Marketing & Communications Office.
              p.learn-more
                a(href='clarity-refracive.html') See More
      
      div.row
        div.col-lg-12.work
          div.hovereffect
            img.img-responsive(src='img/carriage.png', alt='')
            div.overlay
              h2 The Haverford Reserve
              p A collection of work that I completed during my last semester at my alma mater in their Marketing & Communications Office.
              p.learn-more
                a(href='haverford-reserve.html') See More
      
      div.row
        div.col-lg-12.work
          div.hovereffect
            img.img-responsive(src='img/sivel-cover.png', alt='')
            div.overlay
              h2 Sivel Luxury Group
              p A website that I built while interning at Shamlian Creative in Media, Pennsylvania.
              p.learn-more
                a(href='sivel-luxury-group.html') See More
    //
      div.row
        div.col-lg-12.work
          div.hovereffect
            img.img-responsive(src='img/logos-cover.png', alt='')
            div.overlay
              h2 Logos
              p A collection of logos starting from September 2014 and continuously being updated with new projects.
              p.learn-more
                a(href='logos.html') See More
  

                    
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
