doctype html
html
  include ./includes/head.jade   
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Logos
      div.row
        div.col-lg-6
          p A collection of logos starting from September 2014 and continuously being updated with new projects. The logos that I have designed range from class projects to grassroots campaigns and everywhere in between. Every logo design starts with market research and goes through a rigorous critique process from peers and industry professionals. 
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Personal, Both Client & Project
              
              p.work-title.lower Timeline
              p Sept. 2014 - Current
            
            div.col-lg-6
              p.work-title What I Did
              p Branding 
      
      hr 
    div.flex
      div.silience 
        img(src='img/logos/silience_logo.png')
      div.fourblessing
        img(src='img/logos/fourblessing_logo.png')  
      div.mha
        img(src='img/logos/LebanonMHA_logo.png')
    

      div.hbg
        img(src='img/logos/loveHBG_logo_style.png')
      div.rocca
        img(src='img/logos/rocca_logo.png')
      div.bryn
        img(src='img/logos/bryn_logo.png')
      
    div.flex
      div.tony
        img(src='img/logos/tonysdiamonds_logo.png')
      div.learn
        img(src='img/logos/learnbox_logo.png')
      div.he
        img(src='img/logos/HolidayEssentials-logo.png')     
                
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
