doctype html
html
  include ./includes/head.jade   
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Logos
      div.row
        div.col-lg-6
          p A collection of logos starting from September 2014 and continuously being updated with new projects. The logos that I have designed range from class projects to grassroots campaigns and everywhere in between. Every logo design starts with market research and goes through a rigorous critique process from peers and industry professionals. 
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Personal, Both Client & Project
              
              p.work-title.lower Timeline
              p Sept. 2014 - Current
            
            div.col-lg-6
              p.work-title What I Did
              p Branding 
      
      hr 
      
      div.logo-box
        div.row
          div.col-lg-6.col-lg-offset-3.text-center
            h3 Silience Photography
            img(src='img/logos/silience_logo.png')
            p.text-muted A logo that I created for a central Pennsylvania based photography business. The client requested a script logo that was clean and minimal while still having some personality left. This was designed during my time as a Designer/PM for Kalo Creative, DigiCom’s student run advertising agency.
        hr
        div.row
          div.col-lg-4.col-lg-offset-4
            h3 Lebanon Mental Health Association
            img(src='img/logos/LebanonMHA_logo.png')
            p.text-muted A logo created during my Corporate Branding course in the fall semester of my senior year. The entire class created their own logo based on the client’s guidelines and were pitched to her a few weeks later. The Director choose her top five favorite logos. Kalo Creative took over the project during the spring semester.
        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 Neuroscience Department at LVC
            img(src='img/logos/NeuroscienceLVC_logo.png')
            p.text-muted This logo followed the same process as the Lebanon MHA logo. A new major was started at Lebanon Valley College to attract more students. The Neuroscience department needed an established brand to connect with these potential students. This was my submission for the project. 

        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 Four Blessings Restaurant
            img(src='img/logos/fourblessing_logo.png') 
            p.text-muted This project was designed during my Corporate Branding course in the fall semester of my senior year. I was given these project guidelines via pulling a slip out of a hat. After that process I was able to brand the business anyway I choose. The result was a simple and modern logo for a San Francisco based business. 
 
        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 #loveHBG Campaign
            img(src='img/logos/loveHBG_logo_style.png')
            p.text-muted This logo was a submission for the grassroots campaign, Love Harrisburg. They wanted a logo that was fun and vibrant with a primary focus on their hashtag, #LoveHBG.
 
        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 LVC's Underground Club
            img(src='img/logos/Underground_logo.png')
            p.text-muted A logo created for the UG, a Saturday night club on LVC’s campus. The event staff wear shirts with this logo on it.

        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 Roccafiore Eco Wine
            img.background(src='img/logos/rocca_logo.png')
            p.text-muted A logo that I designed while studying abroad in Italy during my Business of Wine course. Our class worked with a local winery to market their wine to an American audience. The class consisted of four groups and I designed the new logo for Roccafiore’s sustainable wines. I create this brand while adhering to their current brand guidelines with their overall business.

        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 Tony's Diamonds
            img(src='img/logos/tonysdiamonds_logo.png')
            p.text-muted A logo that I designed for practice.
 
        hr
        div.row
          div.col-lg-6.col-lg-offset-3
            h3 Bryn Harbor Creative
            img(src='img/logos/bryn_logo.png')
            p.text-muted Another logo that I designed for practice

        hr
        div.row
          div.col-lg-4.col-lg-offset-4
            h3 Peppermint Crisp Candy Bar
            img(src='img/logos/peppermintcrispt_logo.png')
            p.text-muted A logo for a South African candy bar that no longer is marketed for children but for baking. I created new branding that reflected this change in use. This was for my Package Design course during the fall of my junior year.


              
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
