doctype html
html
  head
    meta(charset="utf-8")
    title Damian Grosso | LVC Marketing Internship
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='theme-color', content='#083358')
    // Chrome, Firefox OS, Opera and Vivaldi
    meta(name='theme-color', content='#083358')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#083358')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#083358')


    link(rel='icon', type='image/png', href="img/favicon.ico")

    <!-- Bootstrap CSS -->
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
    link(rel="stylesheet", href="css/styles.css")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/font-awesome-animation.min.css")
    
    script(src='js/responsive-nav.js')

  
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 LVC Marketing Internship
      div.row
        div.col-lg-6
          p A collection of work that I completed during my last semester at my alma mater in their Marketing & Communications Office. I was able to step into many different roles and experience a wide breadth of projects during my semester as an intern. My roles mainly consisted of Designer, Videographer, Social Media Strategist, and Content Writer. 
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p The Offices of Marketing & Communications
              
              p.work-title.lower Timeline
              p Jan. 2016 - May 2016
            
            div.col-lg-6
              p.work-title What I Did
              p Design
              p Social Media
              p Video
              p Content Writing
              
      hr
    div.container
      div.row
        div.col-lg-12.text-xs-center
          h2 Design
          p.description My biggest accomplishment was designing the tickets for LVC’s spring arts festival, ValleyFest. I had to create tickets that were not only visually appealing but adhering to The College’s specific brand guidelines. I was also able to design the Snapchat filters for both ValleyFest and Valleypalooza. 
      div.row.image-space
        div.col-lg-3.col-lg-offset-2.col-md-6
          img(src='img/marketing-internship/VF2016_tickets_blue.jpg')
        div.col-lg-3.col-lg-offset-2.col-md-6
          img(src='img/marketing-internship/VF2016_tickets_green.jpg')
      div.row
        div.col-lg-3.col-lg-offset-2.col-md-6
          img(src='img/marketing-internship/ValleyFestSCFilter_post.png')
        div.col-lg-3.col-lg-offset-2.col-md-6
          img(src='img/marketing-internship/ValleyPaloozaSCFilter_post.png')
      
      hr
      div.row
        div.col-lg-12.text-xs-center
          h2 Social Media
          p.description I was responsible for creating content for The College’s various social media outlets. Here are some of my favorite posts that I have done.
    
      div.row.text-center.video.image-space
        div.col-lg-4.col-md-6.col-sm-12
          blockquote.instagram-media(data-instgrm-captioned='', data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
            div(style='padding:8px;')
              div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;')
                div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
              p(style=' margin:8px 0 0 0; padding:0 4px;')
                a(href='https://www.instagram.com/p/BEZKh1LuV01/', style=' color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;', target='_blank')
                  | Are you as excited about this warm weather as Little Dog? #lvcpups #golvc #spring #dogsatthevalley @kendra_moll
              p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                | A photo posted by Lebanon Valley College (@lebanonvalleycollege) on 
                time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2016-04-19T19:14:50+00:00') Apr 19, 2016 at 12:14pm PDT
        div.col-lg-4.col-md-6.col-sm-12
          blockquote.instagram-media(data-instgrm-captioned='', data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
            div(style='padding:8px;')
              div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;')
                div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
              p(style=' margin:8px 0 0 0; padding:0 4px;')
                a(href='https://www.instagram.com/p/BDBwzBouV2P/', style=' color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;', target='_blank')
                  | Tonight at dinner from 4:15 to 6:00 is your last chance to qualify for the March Madness Tournament! Winner takes home the entire set up. 🏀: @broth20
              p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                | A video posted by Lebanon Valley College (@lebanonvalleycollege) on 
                time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2016-03-16T20:36:04+00:00') Mar 16, 2016 at 1:36pm PDT
        div.col-lg-4.col-md-6.col-sm-12
          blockquote.instagram-media(data-instgrm-captioned='', data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
            div(style='padding:8px;')
              div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;')
                div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
              p(style=' margin:8px 0 0 0; padding:0 4px;')
                a(href='https://www.instagram.com/p/BC0ulr_uV2r/', style=' color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;', target='_blank')
                  | Sunny and 70° here in Annville today. Maybe a little too hot for our Canine-In-Residence, @piper_doodle_the_husky. 🌞🐶
              p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                | A photo posted by Lebanon Valley College (@lebanonvalleycollege) on 
                time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2016-03-11T19:06:38+00:00') Mar 11, 2016 at 11:06am PST
      
      div.row
        div.col-lg-6.col-md-12
          blockquote.tweet(data-lang='en')
            p(lang='en', dir='ltr')
              | Have you seen the Art Department's Fairy Ring installation? It'll be around all week in celebration of 
              a(href='https://twitter.com/hashtag/EarthDay2016?src=hash') #EarthDay2016
              a(href='https://t.co/OqOZpE4NL8') pic.twitter.com/OqOZpE4NL8
            | — LebanonValleyCollege (@LVC) 
            a(href='https://twitter.com/LVC/status/722131425210810368') April 18, 2016
            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
        
        div.col-lg-6.col-md-12
          blockquote.tweet(data-lang='en')
            p(lang='en', dir='ltr')
              | Attention Class of 2016! If you borrowed any federal loans you'll need to check this out. Attendance is mandatory. 
              a(href='https://t.co/lsq8gUDCv9') pic.twitter.com/lsq8gUDCv9
            | — LebanonValleyCollege (@LVC) 
            a(href='https://twitter.com/LVC/status/711953442667958274') March 21, 2016
            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
      
      hr 
      div.row
        div.col-lg-12.text-xs-center
          h2 Video
          p.description Another duty that I had was creating video content for the Admissions Office to help boost enrollment. I created a series of videos for LVC Live, an event that is open to all committed students to get a better idea of life on LVC’s campus.

        div.row.video
          div.col-lg-8.col-lg-offset-3
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zJpKBwDYTZ4', allowfullscreen='')
        div.row.video
          div.col-lg-8.col-lg-offset-3
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/y3R4mgQRKsg', allowfullscreen='')

              
    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
