doctype html
html
  include ./includes/head.jade  
  
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Sivel Luxury Group
      div.row
        div.col-lg-6
          p While interning at Shamlian Creative I was doing a fair amount of design and user experience work. I seized the opportunity to do some front-end development work when a long time client asked Shamlian to development a business strategy that would generate new clients. One of the strategies was a brand new website that represented the luxury brand. 
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Shamliam Creative
              
              p.work-title.lower Timeline
              p June 2015 - Aug. 2015
            
            div.col-lg-6
              p.work-title What I Did
              p Front-End Web Development
            
              p.work-title.lower Live Site 
              p
                a(href='http://haverfordreserve.com/home', target='blank', data-scroll='') Click Here!
      
    hr       
    div.container
      div.row
        div.col-lg-10.col-lg-offset-1
          img(src='img/sivel/desktop.png')
        
    div.slg-text
      div.row
        div.col-lg-6.col-lg-offset-3
          h1 Development
          p I worked directly with the Senior Designer during my internship. Both of us created wireframes and I went over them with a fine tooth comb for any UX errors that we may have committed.  He created the design in Adobe Photoshop and then handed me the PSD files to create the website. I used Foundation 5 and taught myself SASS to create a beautiful and functional website. 
          p ...

    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
