doctype html
html
  head
    meta(charset="utf-8")
    title Damian Grosso | Sivel Luxury Group
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='theme-color', content='#083358')
    // Chrome, Firefox OS, Opera and Vivaldi
    meta(name='theme-color', content='#083358')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#083358')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#083358')


    link(rel='icon', type='image/png', href="img/favicon.ico")

    <!-- Bootstrap CSS -->
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
    link(rel="stylesheet", href="css/styles.css")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/font-awesome-animation.min.css")
    
    script(src='js/responsive-nav.js')

  
  body
    include ./includes/navigation.jade
    
    div.container.work-info
      div.row
        div.col-lg-12
          h1 Sivel Luxury Group
      div.row
        div.col-lg-6
          p A website that I built while interning at Shamlian Creative in Media, Pennsylvania. I took the Senior Designer’s PSD and transformed it into a website for a luxury real estate agent. This site was built upon Zurb’s latest version of Foundation (at the time) accompanied with SASS to create a stellar and unique web presence.
        div.col-lg-6
          div.row
            div.col-lg-6
              p.work-title Team
              p Shamlian Creative
              
              p.work-title.lower Timeline
              p July 2015 - Aug. 2015
            
            div.col-lg-6
              p.work-title What I Did
              p Front-End Development
              
              p.work-title Live Site 
              p
                a(href='http://digicom.lvc.edu/dgrosso/sivelluxarygroup_foundation5/index.html') See More
      hr          
    div.container
      div.row
        div.col-lg-8.col-lg-offset-2
          h2.text-xs-center Home Page
          img(src='img/sivelluxury_home.png')
          p.text-xs-center.sivel-link
            a(href='http://digicom.lvc.edu/dgrosso/sivelluxarygroup_foundation5/index.html') See the full site.

    


    include ./includes/footer.jade
    <!-- jQuery first, then Bootstrap JS. -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    include ./includes/navigation-js.jade
