footer.container-fluid
  div.row
    div.col-lg-12
      ul.social-icons
        li
          a(href='https://www.instagram.com/damianphotographsthis/', target='blank', data-scroll='').i.fa.fa-instagram.fa-2x(aria-hidden='true')
        li
          a(href='https://www.twitter.com/@damiansaysthis', target='blank', data-scroll='').i.fa.fa-twitter.fa-2x(aria-hidden='true')
        li
          a(href='https://github.com/DamianCodesThis', target='blank', data-scroll='').fa.fa-github-alt.fa-2x(aria-hidden='true')
        li
          a(href='https://www.linkedin.com/in/damiancreatesthis', target='blank', data-scroll='').i.fa.fa-linkedin.fa-2x(aria-hidden='true')
        li
          a(href='https://www.behance.net/DamiansCreativeWork', target='blank', data-scroll='').i.fa.fa-behance.fa-2x(aria-hidden='true')
      
          
  div.row.subfooter
    div.col-lg-12
      p made with
        span.alien  &#128125;
        |  in pennsylvania
        
