header
  nav.nav-collapse
    ul
      li.menu-item.active
        a(href='index.html', data-scroll='') Home
      li.menu-item
        a(href='marketing-internship.html', data-scroll='') LVC Marketing & Communications
      li.menu-item
        a(href='discover-and-chill.html', data-scroll='') Discover & Chill
      li.menu-item
        a(href='sivel-luxury-group.html', data-scroll='') Sivel Luxury Group
      li.menu-item.active
        a(href='commonwealth-wine.html', data-scroll='') Commonwealth Wine
      li.menu-item
        a(href='logos.html', data-scroll='') Logos
      li.menu-item
        a(href='about.html', data-scroll='') About Me
